USE [Test]
GO
/****** Object:  StoredProcedure [dbo].[SP_Transactions]    Script Date: 12/9/2025 11:37:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SW_PROC_PROFILE]
	@Email varchar(500),
	@UserCode varchar (500),
	@Password varchar(500),
	@Flag varchar(100)
AS
BEGIN
IF @Flag='LoginDetails'
BEGIN
	BEGIN TRY
		SELECT 
			Status,
			LoginFailAttempt 
		FROM dbo.UserProfile 
		WHERE
		Email=@Email AND
		UserCode =@UserCode AND
		Password = HASHBYTES('MD5', @Password)
	END TRY
	BEGIN CATCH
		--SET @ResponseCode ='101'
		INSERT INTO Error(Error_Id, Error_Message)
		VALUES('101', ERROR_MESSAGE())
	END CATCH
END
END
