
CREATE TABLE [dbo].[UserProfile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](500) NOT NULL,
	[UserCode] [varchar](500) NOT NULL,
	[Password] [varbinary](16) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[LoginFailAttempt] [smallint] NOT NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[UserCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[UserProfile] ON 

GO
INSERT [dbo].[UserProfile] ([Id], [Email], [UserCode], [Password], [Status], [LoginFailAttempt]) VALUES (1, N'neerajdh.krw@gmeremit.com', N'123654', 0x567402573943F5B24FA15E0ACFD167FD, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
GO
